form.signup,
form.login {
  margin-top: 50px;
}

.profilePicture {
  max-height: 290px;
}

.navbar {
  background-color: rgb(43, 80, 87);
  text-align: center;
  border-radius: 3px;
  margin: 2%;
  margin-top: 20px;
  padding: 20px;
}

.nav-item {
  padding: 5px;
  color: white;
}

.nav-link, .navbar-brand {
  font-size: 20px;
  color: white;
  border-radius: 3px;
  transition-duration: 1s;
}

.navbar-brand {
  font-size: 28px;
}

.navbar-brand:hover {
  color: white;
}

.nav-link:hover  {
  color: white;
  background-color: rgb(21, 28, 48);
  transition-duration: 1s;
}

button:hover, .btn:hover {
  background-color: rgb(43, 80, 87);
}

#SearchBlogBtn:hover {
  background-color: rgb(21, 28, 48);
}

input, #SearchBlogInput, select {
  border-style: solid;
  border-radius: 3px;
  border-color: rgb(43, 80, 87);
}

button, #SearchBlogBtn, .btn {
  background-color: rgb(74, 158, 151);
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(43, 80, 87);
  color: white;
}

.hidden {
  display: none;
}

.blogTitle {
  color: black;
  font-size: 20px;
}

.blogTitle:hover {
  color: rgb(48, 179, 184);
}

a.blogBody {
  display: block;
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a.UserDetail {
  display: block;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userCard {
  width: 300px;
  height: 600px;
}

.card {
  border: solid 2px black;
  margin-top: 20px;
}

body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(rgb(74, 158, 151), rgb(24, 33, 59)) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  
}

.container {
  background-color: white;
  border-radius: 3px;
  border-color: rgb(43, 80, 87);
  border: 6px;
  padding: 40px;
  margin-bottom: 5%;
}
 
.container h2, .container h4 {
  text-align: center;
}

.form-group {
  margin-top: 20px;
}

.row {
  justify-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px; 
  max-height: 250px;
}

pre {
  white-space: pre-wrap;
}


.todo-list {
  margin: 0 auto;
  margin-top: 75px;
}

input.new-item:focus {
  outline: none;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-left: 5px;
}

.edit {
  width: 100%;
}

.footer, footer {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color:rgb(21, 28, 48);
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer h4 {
  color: white;
}

@media screen and (max-width: 966px) {
  .navbar {
    padding: 50px;
  }
  .navbar-brand, .nav-link {
    font-size: 12px;
  }
  a.blogBody {
    width: 250px;
  }
}

@media screen and (max-width: 645px) {
  .navbar {
    height: 200px;
  }

  #SearchBlogInput {
    width: 100%;
  }
}